<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FrogCrush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011FB8911E4155F9008CBE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011FB8AB1E4155F9008CBE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011FB8B61E4155F9008CBE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
